@import url('https://v1.fontapi.ir/css/Vazir');

* {
    margin: 0;
}

:root {
    direction: rtl;
}

body {
    font-family: 'Vazir', IRYekan, Dana, estedad, sahel, 'b roya', arial;
    box-sizing: border-box;
}

a {
    color: rgb(158, 106, 10);
    text-decoration: none;
    padding: .5em;

    &::after {
        content: '';
        display: block;

        width: 0;
        height: 1px;
        background-color: rgb(158, 106, 10);
        transition: width .3s ease;
    }
    &:hover::after, &:active::after {
        width: 100%;
    }
}

hgroup {
    text-align: center;
    margin: 5em 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1150px;

    padding: 1em;
    margin: 0 auto;
}

#profile-picture {
    width: 150px;
    border-radius: 50%;
    box-shadow: 36px -12px #f0dea8;
}

.contact {
    direction: ltr;
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    border-radius: 40px;
    background-color: rgba($color: #f0dea8, $alpha: .2);

    a {
        margin: 10px 5px;
    }

    @media screen and (min-width: 750px) {
        flex-direction: row;
        justify-content: space-between;
    }
}
