@import url('https://v1.fontapi.ir/css/Vazir');


:root {
    direction: rtl;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Vazir', IRYekan, Dana, estedad, sahel, 'b roya', arial;
    margin: 0;
}

a {
    color: rgb(10, 91, 158);
    text-decoration: none;

    &::after {
        content: '';
        display: block;

        width: 0;
        height: 1px;
        background-color: rgb(35, 201, 223);
        transition: width .3s ease;
    }
    &:hover::after, &:active::after {
        width: 100%;
    }
}

hgroup {
    text-align: center;
    margin: 2em 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1150px;
    padding: 1em 1.5em;
    margin: 0 auto;
}

#profile-picture {
    width: 130px;
    border-radius: 50%;
    box-shadow: 32px -12px 75px #f0dea8;
}

.contact {
    direction: ltr;
    display: flex;
    flex-direction: column;
    padding: 0 1.5em;

    a {
        padding: .5em;
        margin: 0.2em .6em;
    }

    @media screen and (min-width: 750px) {
        flex-direction: row;
        justify-content: space-between;
    }
}
