@import 'font';


:root {
    direction: rtl;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Vazirmatn', 'Vazir', estedad, sahel;
    margin: 0;
}

a {
    color: rgb(10, 91, 158);
    text-decoration: none;
    background-color: rgba(246, 246, 246, 0.65);
    padding: .75em;
    border-radius: 1em;

    &:hover, &:active {
        color: darken($color: rgb(10, 91, 158), $amount: 20%);
    }
}
nav {
    background-color: #f6f6f6;

    ul {
        list-style-type: none;
    }
}
header, section {
    padding: 0 .5em 10em;
}
hgroup {
    text-align: center;
    margin: 2em 0;

    > h1 {
        text-shadow: 0 2px #eee,0 4px #eee, 0 6px #eee, 0 8px #eee, 0 -2px #eee, 0 -4px #eee, 0 -6px #eee, 0 -8px #eee, 0 -10px #eee;
        animation: shadow-dance 7s infinite;
    }
}
@keyframes shadow-dance {
    50% {
        text-shadow: none;
    }
}
h2 {
    background-color: rgba(167, 207, 252, 0.1);
    transform: rotate(-10deg);
    text-align: center;
}

img {
    max-width: 100%;
}

footer {
    padding: 1em;
    text-align: center;
    font-size: small;
}

.container {
    max-width: 1150px;
    padding: 1em 1.5em;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: .5em;

    @media (min-width: 750px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

#profile-picture {
    border-radius: 50%;
    box-shadow: 8px -5px 24px rgba(100,100,100,.35);
}
